<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Foster</title>

    <link rel="icon" href="/images/logo-icon.png" />

    <link rel="stylesheet" href="/css/main.css" />
    <link rel="stylesheet" href="/css/animations.css" />
    <link rel="stylesheet" href="/css/page-landing.css" />

    <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@400;600;800&display=swap" rel="stylesheet">
  </head>

  <body>
  
    <div vw class="enabled">
      <div vw-access-button class="active"></div>
      <div vw-plugin-wrapper>
        <div class="vw-plugin-top-wrapper"></div>
      </div>
    </div>
    <script src="https://vlibras.gov.br/app/vlibras-plugin.js"></script>
    <script>
      new window.VLibras.Widget('https://vlibras.gov.br/app');
    </script>
  
    <div id="page-landing">
      <div id="container">
        <header>
          <img class="animate-up" 
          id="logo" 
          src="/images/logo.svg" 
          alt="Logomarca Foster" /> 

          <div class="location animate-up">
            <strong>FOSTER</strong>
            <p>Conveniências e Comércios no Geral</p>
          </div>
        </header>

        <main>
          <h1 class="animate-up">Visite uma de nossas lojas cadastradas</h1>

          <section class="visit">
            <p class="animate-up">Conheça nossos serviços com apenas um clique</p>
            <a href="/stores" title="Visite lojas" class="animate-up">
              <img src="/images/arrow.svg" alt="Ir para o mapa" />
            </a>
          </section>
        </main>
      </div>
    </div>
  </body>
</html>

<!--
    HTML
    Hypertext
        hipertexto
    Markup
        marcaçao <tags>

    Language
            linguagem
    
-->
