<!DOCTYPE html>
<html lang="pt_br">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Localize uma Loja | Foster</title>

  <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css"
    integrity="sha512-xodZBNTC5n17Xt2atTPuE1HxjVMSvLVW9ocqUKLsCC5CXdbqCmblAshOMAS6/keqq/sMZMZ19scR4PsZChSR7A=="
    crossorigin="" />

  <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"
    integrity="sha512-XQoYMqMTK8LvdxXYG3nZ448hOEQiglfqkJs1NOQV44cWnUrBc8PkAOcXy20w0vlaXaVUearIOBhiXZ5V3ynxwA=="
    crossorigin=""></script>

  <link rel="icon" href="/images/logo-icon.png" />

  <link rel="stylesheet" href="/css/main.css" />
  <link rel="stylesheet" href="/css/animations.css" />
  <link rel="stylesheet" href="/css/page-stores.css" />

  <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@400;600;700;800&display=swap" rel="stylesheet" />

</head>

<body>
  <div id="page-stores">
    <aside class="animate-right">
      <header>
        <img src="/images/map-marker.svg" alt="Foster" />

        <h2>Escolha uma loja no mapa</h2>

        <p>Compre online ou nos visite no centro mais próximo</p>
      </header>

      <footer>
        <strong>Pato Branco</strong>
        <p>Paraná</p>
      </footer>
    </aside>

    <div id="mapid" class="animate-appear"></div>

    <div class="stores">
      {{#each stores}}
      <span hidden 
      data-id="{{this.id}}" 
      data-name="{{this.name}}" 
      data-lat="{{this.lat}}"
      data-lng="{{this.lng}}"
      ></span>

      {{/each}}
    </div>

    <a href="/create-store" class="create-store" title="Cadastre uma loja">
      <img src="/images/plus.svg" alt="Criar loja" />
    </a>
  </div>

  <script src="/scripts/page-stores.js"></script>
  
  <div vw class="enabled">
      <div vw-access-button class="active"></div>
      <div vw-plugin-wrapper>
        <div class="vw-plugin-top-wrapper"></div>
      </div>
  </div>
  <script src="https://vlibras.gov.br/app/vlibras-plugin.js"></script>
  <script>
    new window.VLibras.Widget('https://vlibras.gov.br/app');
  </script>

</body>

</html>
